.chooseitems h1{
    font-size: 22px;
    font-weight: bold;
    padding-right: 50px;
    color: #042E3B;
    font-family: 'Montserrat',sans-serif;
}

.chooseitems .items{
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 20px; */
    max-height:400px;
    overflow-y: scroll;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    border: 0.5px solid #888;
    border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.item{
    margin: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
   background-image: url('./guitar.png');
   background-position: center;
   background-size: 100%;
   /* background: rgba(248, 247, 216, 0.2); */
}
.item:hover{
  cursor: pointer;
}
.item i{
  display: none;
  font-size: 20px;
  color: white;
}
.item i .fa-check-circle{
  color: white;
}


.buttons{
    display: flex;
    flex-direction: row;
    /* column-gap: 10px; */
    padding: 15px 0px
}
.buttons .but1{
    min-width: 40%;
    padding: 10px;
    margin: 10px 5%;
    border: 1px solid;
    background-color: white;
    border-radius: 10px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;

}
.buttons .but2{
    min-width: 40%;
    padding: 10px;
    margin: 10px 5%;
    border: 1px solid #0B90D3;
    background-color: #0B90D3;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat',sans-serif;


}