.covid {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #f2f7f7;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 2px 5px;
  max-height: 125px;
  font-family: "Montserrat", sans-serif;
}
.covid h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-top: 25px;
}
.covid p {
  font-size: 12px;
  /* font-weight: bold; */
  text-align: left;
}
.covid h5 {
  font-size: 12px;
    text-align: left;
    font-weight: bold;
    /* margin: 20px 8px; */
    margin: auto auto;
    /* margin-left: 0px; */
    /* margin-bottom: 2px; */
    padding: 28px 15px;
}
.covid #alag,
.covid #alag i {
  color: #1f4691;
  font-size: 10px;
  margin-right: 17px;
  display: none;
}

.covid img {
  max-width: 10.7vw;
  height: auto;
}
.covid .card img {
  max-width: 5.7vw;
  height: 80px;
  margin: 0px 0px;
}

.covid .card {
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
  padding: 0px 5px;
  border: none;
  min-width: 32vw;
  background-color: #f2f7f7;
}
/* .covid .card .card1:hover,.covid .card .card2:hover {
    
    transform: scale(1.1);
    transition: 0.5s;
    

  } */

.covid .card .card1,
.card2 {
  display: flex;
  flex-direction: row;
  margin: 12px 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #fff;
  padding: 2px 5px;
  max-width: 190px;
}

/* ------------------------------------------------------------------------------------------------ */

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list .Heading h1 {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding-left: 0px;
}

.list .categoriesBackground {
  background-color: #f4f4f4;
  width: 100%;
}

.list .categoriesBackground .categories {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 13px;
  padding-left: 40px;
  flex-direction: row;
  padding-left: 0px;
}

.list .categoriesBackground .categories .categoryButton {
  border: 0.4px solid;
  border-style: solid;
  background-image: none;
  border-radius: 5px;
  margin-right: 10px;
  border-color: #000;
  font-weight: bold;
  padding: 5px 5px;
  color: #000;
  width: 120px;
  font-size: 12px;
  height: 35px;
  background-color: white;
}

.list .selectedButton {
  background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
  border: 0.4px solid transparent;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
  padding: 5px 5px;
  color: #ffffff;
  width: 120px;
  font-size: 12px;
  height: 35px;
}

.list .subCategoriesBackground {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
}

.list .subCategoriesBackground .subCategories {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
  padding: 0px 20px 20px 0px;
}
.list .subCategoriesBackground .subCategories hr {
  display: none;
  border-bottom: 5px solid #1bacf4;
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 15%;
  opacity: 0;
}

.list .subCategoriesBackground .subCategories img {
  height: 60px;
  width: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list .subCategoriesBackground .subCategories .subCard {
  margin: 20px 30px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  height: auto;
}

.list .packagesCard {
  margin-left: 12%;
}

.list .subCategoriesBackground .subCategories .subCard:hover {
  text-decoration: none;
}

.list .subCategoriesBackground .subCategories .subCard p {
  font-weight: 500;
  color: #000;
  padding-bottom: 10px;
  font-size: 12px;
}

.list2 .category .catcard .ccard {
  border: none;
  border-radius: 10px;
  min-height: 246px;
    justify-content: space-around;
}
/* ------------------------------------------------------------------------------------------------ */
.list2 {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-left: 10vw;
  overflow-x: hidden;
}
.list2 .Heading h1,
.list3 .final .para h1,
.list4 .final .para h1 {
  font-size: 30px;
  font-weight: bold;
  float: left;
  padding: 30px 20px;
  padding-left: 0px;
}
.list2 .category {
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
  margin-right: 0px;
  border: none;
  flex-wrap: wrap-reverse;
  flex-flow: row;
  margin-left: 0px;
  /* overflow-x: scroll; */
}

.list2 .category .slide_button{
  display: block;
}
.list2 .category .catcard {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 20px 30px;
  margin-left: 10px;
  /* /box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);/ */
  box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

  .list2 .category .catcard img {
    max-width: 16vw;
    border-radius: 20px;

}
.list2 .category .catcard .cathead {
  padding: 10px 20px;
  text-align: left;
  font-weight: bold;

  /* margin: 200px; */
}
.list2 button {
  float: right;
  border: none;
  padding: 5px 10px;
  font-size: 8px;
  background-color: #1bacf4;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.list2 .date {
  font-size: 9px;
}
/* .list2 .category .catcard .ccard{
      border: none;
      border-radius: 20px; 
   } */
/* -------------------------------------------------------- */
.list3,
.list4 {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 20px 0px;
}
.list3 .final,
.list4 .final {
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0px;
}
.list3 .final .para,
.list4 .final .para {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  padding-left: 0px;
}
.list3 .final .para .button,
.list3 .final .button {
  display: flex;
  flex-direction: row;
  /* border: none; */
  padding: 7px 12px;
  margin: 10px 10px;
}

.list3 .final .para .button .button1,
.list3 .final .button .button1 {
  margin-left: 0px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.1px solid;
  justify-content: center;
  height: 40px;
  align-items: center;
  width: 150px;
  border-color: #1bacf4;
  color: #1bacf4;
  /* box-shadow: 2px 2px 2px rgba(27,144,244,0.5); */
}
.list3 .final .para .button .button2,
.list3 .final .button .button2 {
  background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
  border: none;
  border-radius: 5px;
  justify-content: center;
  width: 150px;
  height: 40px;
  align-items: center;
  border-color: #1bacf4;
  color: #ffffff;
  /* box-shadow: 2px 2px 2px rgba(27,144,244,0.5); */
}
.list3 .final .para h4,
.list4 .final .para h4 {
  font-size: 20px;
  /* font-weight: bold; */
  text-align: left;
  padding: 20px 0px;
}
.list3 .final .para p,
.list4 .final .para p {
  text-align: left;
}
.list3 img {
  height: 400px;
  width: auto;
}
.list3 .final .para h1,
.list4 .final .para h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50;
  padding-left: 0px;
}

.list3 .final #in_mobile_mode {
  display: none;
}
/* ------------------------------------------------------------------ */

.list4 .final .button_with_para {
  display: flex;
  flex-direction: row;
}
.list4 .final .button {
  display: flex;
  flex-direction: row;
  padding: 7px 12px;
  margin: 10px 20px 10px 10px;
}
.list4 .final .button .button1 {
  background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
  border: none;
  border-radius: 5px;

  border-color: #1bacf4;
  color: #ffffff;
  /* box-shadow: 2px 2px 2px rgba(27,144,244,0.5); */
}
.list4 .final .button .button2 {
  margin-left: 0px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.1px solid;
  border-color: #1bacf4;
  color: #1bacf4;
  /* box-shadow: 2px 2px 2px rgba(27,144,244,0.5); */
}
/* ------------------------------------------------------------- */
.promiseBackground {
  background-color: white;
  width: 100%;
}
.promise {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.promise h4 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-align: left;
  margin: 10px 0px;
  margin-top: 10px;
}
.promise .parts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  /* flex-flow: row; */
  margin: 20px 10px;
}

.promise .parts .same_card {
  background-color: white;
  border: none;
  padding: 0px;
  min-width: 21vw;
}
/* .promise .parts .same_card */

.promise .parts .same_card .cathead h4 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Rooto', sans-serif; */
  color: #707070;
  font-size: 20px;
  font-weight: bold;
}
.promise .parts .same_card p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  color: #707070;
  font-size: 15px;
  /* font-weight: bold; */
}
.promise .parts .same_card .logos {
  max-width: 13vw;
}

/* =------------------------------------------------------ */
.customers {
  /* max-width: 100%; */
  background-color: #ffffff;
  /* background-image: url("../images/wave.png"); */
  /* /background-position: 0px -25px; / Center the image */ 
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding-bottom: 20px;
}
.customers .custom {
  max-width: 100%;
  padding-left:8%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 70px;
}

#button_knowmore {
  display: none;
}

.customers .custom .special h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-top: 20px;
}
.customers .custom .descr .straight img {
  max-width: 100px;
  height: auto;
}
.customers .custom  .descr p {
  font-family: "Montserrat", sans-serif;
  font-size: 29;
  text-align: left;
}

.customers .custom  .descr .straight {
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* margin: 10px; */
}


.customers .custom  .descr .straight .name_rating {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.customers .custom  .descr .straight .name_rating i {
  color: #ffc502;
}
.customers .custom  .descr .straight .name_rating h4 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.customers .custom  .descr {
  min-width: 200px;
  min-height: 300px;
  margin: 20px;
  margin-left: 3%;
  border: none;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  overflow: visible;
}

/* Hover */
/* .list .category .catcard:hover,.sliide .catcard:hover{
  display: flex;
  flex-direction: column;
  float: left;
  margin: 20px 30px;
  margin-left: 0px;
  border-radius: 20px;
  box-shadow:2px 13px 13px 2px rgba(27,144,244, 0.7);
  transition: 0.4s;

} */

@media screen and (max-width: 992px) {
  .main div {
    padding: 0 0px;
  }
  .covid {
    min-height: 110px;
    padding: 0px 10px;
    max-width: 95%;
  }
  .covid .card {
    display: none;
  }
  .covid img {
    max-width: 60px;
    margin: 30% 0px;
  }
  #button_knowmore {
    display: inline;
    float: left;
    border: 0.5px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
    padding: 5px 10px;
    color: #0e6084;
    font-weight: bold;
  }
  .covid p {
    font-size: 6px;
    font-weight: 600;
  }
  .covid h4 {
    font-size: 18px;
  }
  /* ------------------------------------------ */
  .list {
    max-width: 95%;
    padding: 0px;
    margin: 0px;
    min-height: 20vh;
  }

  .list .categoriesBackground {
    background-color: #fff;
    width: auto;
  }

  .list .categoriesBackground ::-webkit-scrollbar {
    display: none;
  }

  .list .categoriesBackground .categories {
    min-width: 100vw;
    max-width: 200%;
    padding-left: 5.5%;
    overflow-x: scroll;
  }

  .list .categoriesBackground .categories .categoryButton {
    margin-right: 10px;
    font-weight: bold;
    background-color: #fff;
    overflow: visible;
    font-size: 12px;
    height: 35px;
    min-width: 120px;
    max-width: 240px;
    width: 120px;
  }

  .list .categoriesBackground .categories .selectedButton {
    min-width: 120px;
    max-width: 240px;
    width: 120px;
  }

  .list .subCategoriesBackground {
    min-width: 100vw;
  }

  .list .subCategoriesBackground ::-webkit-scrollbar {
    display: none;
  }

  .list .subCategoriesBackground .subCategories {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    padding-left: 5.5%;
    overflow-x: scroll;
  }

  .list .subCategoriesBackground .subCategories hr {
    display: none;
    
  }

  .list .subCategoriesBackground .subCategories .subCard {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    height: auto;
  }

  .list .subCategoriesBackground .subCategories .subCard p {
    font-weight: 500;
    color: #000;
    padding-bottom: 5px;
    font-size: 9px;
  }

  .list2 .category .catcard {
    min-width: 138px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
  }
  
  .list2 .category .catcard .ccard{
    min-height: 170px;
    padding: 8px;
  }

  .list2 .category .catcard .ccard img {
    order: 1;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .list2 .category .catcard .ccard .cathead {
    order: 2;
    font-size: 9px;
    padding: 3px 4px;
    min-width: 100px;
  }

  /* ---------------------- */

  .list2 {
    max-width: 100%;
    padding: 10px 0px;
    margin: 0px;
    min-height: 30vh;
  }
  .list2 .date {
    font-size: 7px;
  }
  .list .Heading h1,
  .list2 .Heading h1,
  .list3 .final .para h1,
  .list4 .final .para h1 {
    font-size: 16px;
    margin: -30px 0px;
  }
  .list .Heading h1,.list2 .Heading h1{
    margin: 5px 25px;
    padding: 5px;
  }
  .list2 button {
    font-size: 6px;
    border-radius: 3px;
  }
  .list2 .category .catcard img {
    max-width: 40vw;
  }
  .list2 .category{
    overflow-x: scroll;
  }
  .list2 .category .slide_button{
    display: none;
  }
  .list2 .category::-webkit-scrollbar-thumb{
    display: none;
  }
  .list2 .category::-webkit-scrollbar-track{
    display: none;
  }

  /* -------------------- */
  .list3 .final,
  .list4 .final {
    max-width: 95%;
  }
  .list3 .final {
    display: block;
    justify-content: center;
  }
  .list3 .final .para {
    display: inline-grid;
    justify-content: center;
  }
  .list3 img {
    height: auto;
    width: 100%;
    margin: auto;
  }

  .list3 .final .para h4,
  .list4 .final .para h4 {
    font-size: 12px;
  }
  .list3 .final .para p,
  .list4 .final .para p {
    font-size: 10px;
  }

  /* ------------------------------------------ */

  .list3 .final .para .button,
.list3 .final .button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: none; */
  padding: 7px 12px;
  margin: 10px 10px;
}

  .list3 .final .button {
    font-size: 10.4px;
    min-width: 40vw;
    margin: 4px;
    /* justify-content: space-between; */
  }

  .list3 .final .para .button .button1,
  .list3 .final .button .button1 {
    margin-left: 0px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100px;
    justify-content: center;
    border: 0.1px solid;
    border-color: #1bacf4;
    color: #1bacf4;
    /* box-shadow: 2px 2px 2px rgba(27,144,244,0.5); */
  }
  .list3 .final .para .button .button2,
  .list3 .final .button .button2 {
    background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
    border: none;
    width: 100px;
    justify-content: center;
    border-radius: 5px;
    border-color: #1bacf4;
    color: #ffffff;
    /* box-shadow: 2px 2px 2px rgba(27,144,244,0.5); */
  }

  .list3 .final .button .button1,
  .list4 .final .para .button .button1 {
    border: 0.5px solid #1bacf4;
  }

  .list3 .final #in_mobile_mode {
    display: -webkit-inline-box;
  }
  .list3 .final #in_pc_mode {
    display: none;
  }

  /* -------------------------------- */
  .list4 .final .para {
    flex-direction: column;
  }
  .list4 .final .para .button {
    font-size: 8px;
    display: inline-block;
  }
  .list4 .final .para .button_with_para {
    flex-direction: column;
  }

  .promise {
    max-width: 100%;
    margin: 0px 0px;
    padding: 10px 10px;
  }
  .promise .parts {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1,1fr); */
    flex-wrap: wrap;
    /* margin: auto; */
    justify-content: flex-start;
    align-items: flex-start;
  }
  .promise .parts .same_card {
    display: flex;
    flex-direction: row;
  }
  .promise .parts .same_card p {
    font-size: 10px;
  }

  .promise .parts .same_card .logos {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
  }
  .promise h4 {
    font-size: 12px;
  }
  .promise .title{
    font-size: 16px;
    padding: 0px 20px;
  }
  .promise .parts .same_card .cathead{
    margin: auto;
  }
  .promise .parts .same_card .cathead h4,
  .customers .custom .special h4 {
    font-size: 16px;
    margin-left: 2%;
  }

  /* =========================== */
  .customers {
    overflow: hidden;
  }

  .customers .custom{
    padding-left: 4%;
  }

  .customers .custom  .descr {
    font-size: 10px;
    min-height: 250px;
    margin-left: 10px;
  }
  .customers .custom  .descr .straight img {
    max-width: 24vw;
  }

  .customers .custom .descr .straight img {
  max-width: 70px;
  height: auto;
}

.customers .custom .special h4{
  margin-left: 10px;
  }

}




@media screen and (max-width: 554px) {
  .covid p {
    font-size: 8px;
  }
  .covid h4 {
    font-size: 10px;
  }

  .customers .custom{
    max-width: 100%;
    height: auto;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 70px;
  }

  .customers .custom .special h4{
    margin-left: 10px;
  }

  .customers .custom .descr{
    margin-left: 10px;
  }

  .customers .custom .carousel-button-group{
    margin-left: 30vw;
  }
}