.category_overview {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.category_overview .pagePath {
  background-color: #fff;
  color: #000;
  font-weight: bolder;
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 0px;
  padding-left: 13%;
  max-height: 28px;
}

.category_overview .pagePath p {
  font-size: 12px;
  font-weight: 500;
}

.category_overview .categories {
  padding: 13px;
  width: 100%;
  padding-left: 13%;
  float: left;
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
}

.category_overview .categoryButton {
  border: 0.4px solid;
  border-style: solid;
  background-image: none;
  border-radius: 5px;
  margin-right: 10px;
  border-color: #000;
  font-weight: bold;
  padding: 5px 5px;
  color: #000;
  min-width: 10%;
  font-size: 12px;
  height: 35px;
}

.category_overview .selectedButton {
  background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
  border: 0.4px solid transparent;
  border-radius: 5px;
  margin-right: 10px;

  font-weight: bold;
  padding: 5px 5px;
  color: #ffffff;
  min-width: 10%;
  font-size: 12px;
  height: 35px;
}

.category_overview .subCategories {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 0px;
  padding-left: 11.5%;
  float: left;
  background-color: #ffffff;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
}
.category_overview .subCategories hr {
  border-bottom: 5px solid #1bacf4;
  width: 75%;
  margin: auto;
  margin-left: 20px;
  margin-top: 10px;
  opacity: 0;
}

.category_overview .subCategories img {
  height: 60px;
  width: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.category_overview .subCategories .subCard {
  margin: 20px 15px;
  margin-left: 20px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  height: auto;
}

.category_overview .packagesCard {
  margin-left: 12%;
}

.category_overview .subCategories .subCard:hover {
  text-decoration: none;
}

.category_overview .subCategories .subCard p {
  font-weight: bold;
  color: #000;
  padding-bottom: 10px;
  font-size: 12px;
}
.category_overview .product_overview button {
  float: right;
  border: none;
  padding: 3px 10px;
  font-size: 9px;
  background-color: #1bacf4;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
}

/* ----------------------------------------------- */
.category_overview .product_overview {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  /* margin-left: 10vw; */
  margin: auto;
  overflow: hidden;
}
.category_overview .product_overview .Heading h1 {
  font-size: 30px;
  font-weight: bold;
  float: left;
  padding: 30px 20px;
}
.category_overview .product_overview .category {
  display: flex;
  flex-direction: row;

  margin: 20px 20px;
  border: none;
  flex-wrap: wrap;
  /* flex-flow: row; */
}
.category_overview .product_overview .category .catcard {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 20px 19px;
  /* margin-left: 0px; */
  box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  justify-content: space-evenly;
}
.category_overview .product_overview .category .catcard img {
  /* height: 30vh; */
  max-width: 16vw;
  border-radius: 10px;
}
.category_overview .product_overview .category .catcard .cathead {
  padding: 10px 20px;
  text-align: left;
  font-weight: bold;

  /* margin: 200px; */
}
.category_overview .product_overview button {
  float: right;
  border: none;
  padding: 3px 10px;
  font-size: 8px;
  background-color: #1bacf4;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.category_overview .product_overview .header {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.category_overview .product_overview .category .catcard .ccard {
  border-radius: 10px;
  border: 0px transparent;
  justify-content: space-evenly;
  min-height: 245px;
}
.category_overview .product_overview .date {
  font-size: 9px;
}

/* -------------------------------------- */
.category_overview .search_boy_with_input{
    max-width: 100%;
    display:flex;
    flex-direction: column;
    padding: 20px;
}
.category_overview .search_boy_with_input h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.category_overview .search_boy_with_input .search_boy img{
    max-width: 50%;

}
.category_overview .search_boy_with_input .search_boy_input{
  justify-items: space-between;
  padding: 20px;
}
.category_overview .search_boy_with_input .search_boy_input input{
    min-width: 20%;
    margin: auto;
    padding: 7px 5px;
    border: 0.4px solid;
    border-radius: 10px;
    font-family: 'Montserrat',sans-serif;
    margin-right: 20px;
}