.container{
    background-color: black;
    max-width: 100% ;
    max-height: 121px;
    margin: auto;
    /* position: absolute; */
}

.container .main{
    display: flex;
    flex-direction: row;
    
    /* grid-gap: 1em; */
    max-width: 100%;
    /* margin: 0px 20px; */
    margin: 1% 10%;
    /* margin: auto; */
    align-items: center;
    text-align: center;
}
.main div{
    padding: 0 10px;
}

.container .main .image img{
    max-width: 11vw;
    height: auto;
}
.but button{
background-color: black; /* Green */
  /* border: none; */

  min-width: 8.5vw;
  height: 40px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  border-width:thin ;
  border-radius: 9px;
  border-color: #00CEFF;

}
/* .searc input{
    
    min-width: 30.5vw;
    height: auto;
    border-radius: 9px;
    border-color: #00CEFF;
    background-color: #FFFFFF;
    color: black;
    padding: 5px 10px;
    border-right: #FFFFFF;
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;

    
} */
.searc{
    min-width: 30.5vw;
    height: 40px;
    border-radius: 9px;
    border-color: #00CEFF;
    background-color: #FFFFFF;
    border-style: solid;    
    border-width: thin;
    
    /* padding: 1vh 0vh; */
}
.searc input{
    border: none;
    padding: 8px 0px;
    float: left;
    min-width: 30vw;
    
    
}
.searc input:focus,.but button:focus{

    outline: none;
}
.searc a i{
    background-color: #FFFFFF;
    margin: 12px 0px;
    float: rightS;
}

.but button img{
    max-height: 30px;
    
}
#sign button{
    background-image:linear-gradient(to bottom right,#1bacf4,#19eeb5);
    border-color: none;
    padding: 0.3vw;
}