.container{
    background-color: black;
    max-width: 100% ;
    height: 90px;
    padding: 10px;

    /* position: absolute; */
}

.container .main{
    display: flex;
    flex-direction: row;
    
    /* grid-gap: 1em; */
    max-width: 100%;
    /* margin: 0px 20px; */
    margin: 1% 10%;
    /* margin: auto; */
    align-items: center;
    text-align: center;
}
.main div{
    padding: 0 11px;
}

.container .main .image img{
    max-width: 11vw;
    height: auto;
}
.but button{
background-color: black; /* Green */
  /* border: none; */

  min-width: 8.5vw;
  height: 40px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 0.1px solid #00CEFF;
  border-radius: 10px;


}
.bar{
    display: none;
    /* max-width: 10px; */
}
.bar img{
    max-width: 40px;
}
.but button:hover{
     border-color: #1383bb;
    transition: 0.5s;
}
.but button:active{
    border-color: #1383bb;
    transition: 0.5s;
    
} 

/* cart popup */
#bag .popup-content{
    width: 400px !important;
    padding: 0px;
    height: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#bag ::-webkit-scrollbar{
    width: 10px;
    overflow: hidden;
}
#bag .popup-content .popup-arrow{
    position: fixed !important;
    left: 72% !important;
    top: 12% !important;
}
.but .cart__main{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 35px;
    /* background-color: red; */

}

.but .cart__main .cart__info{
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    width: 94%;
}
.but .cart__main .cart__info .cart__image img{
    width: 100px;
}
.cart__productname{
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px !important;
}
.but .cart__main .cart__detail{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 75%;
    /* margin: 10px auto; */
}

.but .cart__main .cart__detail .cart__productinfo{
    display: flex;
    flex-direction: row;
    padding: 0px;
    

}
.but .cart__main .cart__detail .cart__productname h4
{
    font-size: 14px;
    font-weight: bold;
}
.but .cart__main .cart__detail .cart__productinfo h6
{
    font-size: 12px;
    /* font-weight: bold; */
}
.but .cart__main .cart__detail .cart__productinfo .cart__tenure,.cart__rent,.cart__deposit{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: auto;
}

.but .cart__main .cart__button{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    width: 91%;
}
.take_me_to_cart_but{
    position: fixed;
    margin-top: 320px;
    width: 380px;
}

.but .cart__main .cart__button .cart__edit,.cart__checkout{
    width: 100%;
}
.but .cart__main .cart__button button{
    background-color: white; /* Green */
  /* border: none; */

  width: 100%;
  height: 30px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  border: 0.1px solid #00CEFF;
  border-radius: 10px;
}

.but .take_me_to_cart_but .cart_but{
    background-image: linear-gradient(to bottom right,#1bacf4,#19eeb5);
    width: 100%;
    height: 35px;
    color: white;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
    border: 10px solid #fff;
    border-bottom: 13px solid #fff;
    border-radius: 14px;
}

.but .cart__main .cart__checkout button{
    background-image:linear-gradient(to bottom right,#1bacf4,#19eeb5);
    color: white;
}





/* .searc input{
    
    min-width: 30.5vw;
    height: auto;
    border-radius: 9px;
    border-color: #00CEFF;
    background-color: #FFFFFF;
    color: black;
    padding: 5px 10px;
    border-right: #FFFFFF;
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;

    
} */
.searc{
    min-width: 30.5vw;
    height: 40px;
    border-radius: 9px;
    border-color: #00CEFF;
    background-color: #FFFFFF;
    border-style: solid;    
    border-width: thin;
    
    /* padding: 1vh 0vh; */
}
.searc input{
    border: none;
    padding: 8px 0px;
    float: left;
    min-width: 30vw;
    
    
}
.searc input:focus,.but button:focus{

    outline: none;
}
.searc a i{
    background-color: #FFFFFF;
    margin: 12px 0px;
    float: rightS;
}

.but button img{
    max-height: 30px;
    
}
#sign button{
    background-image:linear-gradient(to bottom right,#1bacf4,#19eeb5);
    border-color: none;
    padding: 0.3vw;
}
.popup-content.pop-content{
    min-width: 233px !important;
    padding: 7px !important;

}

.container .main .but .popup_of_place{
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.container .main .but .popup_of_place .popup_of_place1{
    display: flex;
    flex-direction: row;
    margin: 7px -7px;
}
.container .main .but .popup_of_place .popup_of_place1:hover{
    background-color: #e4e4e4;
}
.container .main .but .popup_of_place .popup_of_place1 .header{
   margin: 37px 0px;
   font-weight: bold;
}
.but .popup_of_place1 .fas{
    padding: 40px 0px;
    color: #28A5E5;
}
.imgage{
    width: 100px;
    height: 100px;
}
 .popup-arrow{
   box-shadow: none !important;
   top: 2% !important;
}


@media screen and (max-width: 992px) {
    .container {
        max-width: 100%;
        height: 70px;
    }
    .searc,#bag,#sign{
        display: none;
    }
    #navmap{
        float: left;
    }
    .but button{
        border: 0.5px solid #00CEFF;
    }
    .bar{
        display: inline;
    order: 3;
    float: right;
    font-size: 30px;
    /* margin: auto; */
    margin: 0px auto;
    margin-right: 0px;
    }
    .image{
        order: 2;
        margin: auto;
        max-width: 100px;
    }
    .container .main{
        margin: 0px 0px;
    }
    .container .main .image img {
        max-width: 25vw;
        height: auto;
        margin: auto;
    }
    .but button {
        border-radius: 5px;
        height: auto;
        padding: 0px 5px;
    }
    

.popup-content.pop-content{
    margin: 20px;
    left: -9.0885px !important;
}
    
}