.modal-content {
    max-width: 500px;
    margin: auto;
    padding: 25px 25px;
    border-radius: 20px;
    padding-bottom:  10px;
}
.dots {
    margin:auto;
    padding: 5px;
}
.dots .fa-circle{
    margin: 5px;
}