.productPage{
    overflow-x: hidden;
}
.productPage .productDesc{
    display: flex;
    flex-direction: row;
}

.productPage .productDesc .left .covid {
margin: auto;
display: flex;
flex-direction: row;
align-content: center;
background-color: #f2f7f7;
text-align: center;
margin-top: 20px;
margin-bottom: 10px;
max-width: 900px;
margin-left: 40px;
border-radius: 10px;
padding: 2px 5px;
max-height: 125px;
font-family: "Montserrat", sans-serif;
}
.productPage .productDesc .left .covid h4 {
font-size: 18px;
font-weight: bold;
min-width: 200px;
text-align: left;
padding-top: 25px;
}
.productPage .productDesc .left .covid h5 {
font-size: 12px;
    text-align: left;
    font-weight: bold;
    /* margin: 20px 8px; */
    margin: auto auto;
    /* margin-left: 0px; */
    /* margin-bottom: 2px; */
    padding: 28px 15px;
}
.productPage .productDesc .left .covid #alag,
.productPage .productDesc .left .covid #alag i {
color: #1f4691;
font-size: 10px;
margin-right: 17px;
display: none;
}

.productPage .productDesc .left .covid img {
max-width: 8.7vw;
height: auto;
}
.productPage .productDesc .left .covid .card img {
max-width: 5.7vw;
height: 80px;
margin: 0px 0px;
}

.productPage .productDesc .left .covid .card {
display: flex;
flex-direction: row;
margin: 5px 10px;
padding: 0px 5px;
border: none;
min-width: 32vw;
background-color: #f2f7f7;
}
/* .productPage .productDesc .left .covid .card .card1:hover,.productPage .productDesc .left .covid .card .card2:hover {
    
    transform: scale(1.1);
    transition: 0.5s;
    

} */

.productPage .productDesc .left .covid .card .card1,
.card2 {
display: flex;
flex-direction: row;
margin: 12px 5px;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.5);
border-color: #fff;
padding: 2px 5px;
max-width: 190px;
}

.productPage .right{
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    margin-right: 0px;
    margin-left: 30px;
}

.productPage .right h2{
    margin-left: 20px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.productPage .right h3{
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.productPage .right .durationPrice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productPage .right .durationPrice .durationButton{
    background-color: white;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 10px;
    border: none;
    min-width: 200px;
}

.Products{
    margin: auto;
    margin-left: 40px;
    margin-top: 40px;
}

.Products .productList{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.Products .productList .subCard{
    margin: 0px 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    height: auto;
}

.DescriptionCard .subCard{
    margin: 0px 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    max-width: 700px;
}

.DescriptionCard .subCard p{
    text-align: start;
    font-size: 16px;
}

.Products .productList .subCard:hover{
    text-decoration: none;
}

.Products .productList .subCard p{
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
    font-size: 12px;
}

.Products .search{
    margin: 20px;
    height: 40px;
    border-radius: 10px;
    border-color: #000;
    border-style: solid;    
    border-width: thin;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    /* padding: 1vh 0vh; */
}
.Products .search .searchInput{
    border: none;
    float: left;
    margin: 10px;
    width: 400px;
}
.Products .search a i{
    background-color: #FFFFFF;
    margin: 12px 12px 12px 340px;
    align-self: right;
}

.shareProgram p{
    margin-top: 20px;
    font-size: 20px;
    max-width: 600px;
}

.shareProgram .earningButton{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFF;
    background-image:linear-gradient(to bottom right,#1bacf4,#19eeb5);
    border-radius: 5px;
    border: 0.5px solid #00CEFF;
}

.shareProgram .earningButton:focus{
    outline: none;
}

.Reviews{
    margin: auto;
    margin-left: 40px;
}
.Reviews h2{
    margin-bottom: 20px;
}

.Reviews .CustomerReviews{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.Reviews .CustomerReviews .ReviewCard{
    background-color: #E4E4E4;
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 40px;
}

.Recommendations{
    margin: auto;
    margin-left: 40px;
    align-self: left;
}

.productCarousel .catcard .ccard {
    border: none;
    border-radius: 10px;
    min-height: 246px;
    justify-content: space-around;
    color: black;
}

.productCarousel .catcard .ccard:hover{
    text-decoration: none;
    color: black;
}

.productCarousel {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 40px;
    margin-right: 0px;
    border: none;
    flex-wrap: wrap-reverse;
    flex-flow: row;
    margin-left: 0px;
    margin-bottom: 40px;
    /* overflow-x: scroll; */
}

.productCarousel .slide_button{
    display: block;
}
.productCarousel .catcard {
    display: flex;
    flex-direction: column;
    float: left;
    margin: 20px 30px;
    margin-left: 10px;
    /* /box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);/ */
    box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.productCarousel .catcard img {
    max-width: 16vw;
    border-radius: 20px;

}
.productCarousel .catcard .cathead {
    padding: 10px 20px;
    text-align: left;
    font-weight: bold;
/* margin: 200px; */
}

.productCarousel button{
    background-color: #83D6F3;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 125px;
    border: 0.5px #83D6F3;
}

.productPage .right .Summary .product{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 20px; 
}

.productPage .right .Summary .product p{
    width: 200px;
    text-align: left;
}

.productPage .right .Summary .product button{
    padding: 5px;
    min-width: 100px;
    border: 0.5px solid #707070;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 90px;
    background-color: #ffffff;
}

.productPage .right .Summary .placeOrder{
    display: flex;
    flex-direction: row;
}

.productPage .right .Summary .placeOrder .couponStatus{
    width: 200px;
    height: 70px;
    margin: 20px;
    background-color: #E8FFFC;
    border: 1px dashed #27D2BB;
    border-radius: 10px;
}

.productPage .right .Summary .placeOrder .couponStatus p{
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #27D2BB;
    font-size: 16px;
    line-height: 70px;
}

.productPage .right .Summary .placeOrder button{
    min-width: 200px; 
    max-height: 70px;
    min-height: 50px;
    margin-top: 20px;
    border: 1px solid #28A5E5;
    border-radius: 10px;
    background-color: #28A5E5;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.productPage .productDesc .left h2{
    margin: 20px 0px 10px 40px;
    text-align: left;
}

.productPage .productDesc .left h3{
    margin: 0px 0px 30px 40px;
    font-size: 20px;
    text-align: left;
}

.productPage .productDesc .left .productImages{
    display: flex;
    flex-direction: row;
}

.productPage .productDesc .left .productImages .ImageList{
    display: flex;
    flex-direction: column;
}

.productPage .productDesc .left .productImages .ImageList .productImage{
    margin: 20px 0px 0px 40px;
    background-color: white;
    border: none;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
}

.productPage .productDesc .left .productImages .ImageList .productImage img{
    width: 180px;
    height: auto;
}



.productPage .productDesc .left .productImages .previewImage{
    height: 300px;
    width: auto;
    align-self: center;
}

.productPage .productDesc .left .productImages .previews{
    border: none;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
    margin: 20px 0px 0px 10px;
}




