.dashboard{
    display: flex;
    flex-direction: row;
}
.useropt{
    max-width: 25%;
    float: left;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
    
}
.useropt .user_detail{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    background-image:linear-gradient(to bottom right,#1bacf4,#19eeb5);
}
.useropt .user_detail .first{
    display: flex;
    flex-direction: column;
    /* float:center; */
    margin: auto;
}
.useropt .user_detail .first img{
    width: 60px;
    height: auto;
    /* padding: 10px; */
}

.useropt .user_detail .first i{
    padding: 10px;
    color: white;
}

.useropt .user_detail .first .user_name{
    color: #fff;
    font-size: 16px;
}

.useropt .user_detail .first .userlocation{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    /* padding-bottom: 10px; */
}

.useropt .user_detail .first .userlocation i{
    font-size: 12px;
    margin-bottom: 5px;
}

.useropt .user_detail .second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.useropt .user_detail .second .mail{
    float: left;
   
}
.useropt .user_detail .second .mail h4{
    font-size: 12px;
    text-align: left;
    color: #fff;
}
.useropt .user_detail .second .marker{
    float: right;
    margin: auto,none;
    color: #fff;
    font-size: 18px;
}
.useropt .user_detail .second .marker #pencil{
    width: 50px;
}

.useropt .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.useropt .details .detailsCard {
  margin: 20px 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
  border: none;
  /* padding: 0px 20px 0px 20px; */
  border-radius: 10px;
  width: 90px;
    height: 90px;
}
.useropt .details .detailsCard .image{

}


.useropt .details .detailsCard img{
    width: 70px;
    height: auto;
}

.useropt .details .detailsCard:hover {
  text-decoration: none;
}

.useropt .details .detailsCard p {
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
  font-size: 9px;
}

.useropt .buttons{
    display: flex;
    flex-direction: column;
}

.useropt .buttons a{
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #dffbf8;
    color: #000;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

/* Right screen=================================================== */
.right_screen{
    min-width: 75%;
    
}
.right_screen .userdash_header{
    background-color: #fff;
  color: #000;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  padding-left: 10px;
  /* max-height: 28px; */
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.right_screen .order_card{
    width: 95%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.right_screen .image_detail{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    padding: 10px;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    
    /* min-width: 70%; */
    
}
.right_screen .image_detail .detail h4{
    font-size: 16px;
    font-weight: 400;

}

.right_screen .image_detail .detail h6{
    font-size: 12px;
    font-weight: 400;

}

.right_screen .image_detail .image{
    margin: auto;
}

.right_screen .image_detail .image img{
    width: 177px;
    margin-bottom: 65px;
}
.right_screen .image_detail .detail{
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right_screen .image_detail .detail .name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right_screen .image_detail .detail .name .main_head{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.right_screen .image_detail .detail .name .edit_order img{
    width: 30px;
}
.right_screen .image_detail .detail .price{
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
}
.right_screen .image_detail .detail .price .rent,.right_screen .image_detail .detail .price .tenure,.right_screen .image_detail .detail .price .deposit{
    display: flex;
    flex-direction: column;
}
.right_screen .image_detail .detail .price .name__{
    float: left;
    text-align: left;
}
.right_screen .image_detail .detail .total
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.right_screen .image_detail .detail .total .mybag_button{
    min-width: 36%;
    display: flex;
    justify-content: space-between;
}
.right_screen .image_detail .detail .total .mybag_button .but1{
    float: right;
    min-width: 116px;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #1bacf4;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.right_screen .image_detail .detail .total .mybag_button .but2{
    float: right;
    min-width: 116px;
    border: 0.7px solid black;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

.right_screen .checkout{
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 20px 40px;
    margin: auto auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    
}
.right_screen .checkout .checkout_button button{
    float: right;
    min-width: 116px;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #1bacf4;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}






@media screen and (max-width: 992px){
    .useropt{
        min-width: 100%;
    }
    .useropt .user_detail{

    }
    .useropt .details{
        justify-content: space-evenly;
        padding: 0px;
        margin: 20px 0px;
        margin-bottom: 0px;
    }
    .useropt .details .detailsCard{
        margin: 10px 5px;
        height: 100px;
        width:100px
    }
}